/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v1.1.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */
  .progress {
    background-color: #2F2F2F;
}

.pt-3, .py-3 {
  padding-top: 50px !important;
}

.progress-bar {  
  background-color: #009E66;
}